body {
    background-color: hsl(185, 75%, 39%);
    padding: 2rem;
}

.container {
    background-color: white;
    border-radius: 15px 15px;
    .pattern {
        width: 100%;
        height: auto;
        border-radius: 15px 15px 0 0;
    }
    .detail-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .name {
            margin-right: 0.4rem;
        }
        position: relative;
        bottom: 3.5rem;
    }
    .location {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 5rem;
        right: 0.25rem;
    }
    .stat-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .stat-div-a,
        .stat-div-b,
        .stat-div-c {
            flex-direction: column;
            padding-right: 10px;
        }
    }
}