@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
body {
    font-family: 'Kumbh Sans', Helvetica;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-bottom: 3rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.name {
    color: #2E3349;
    font-size: $fontLrg;
}

.age {
    color: #6B7082;
    font-size: $fontLrg;
}

.location {
    font-size: $fontMed;
}

.stat {
    color: #2E3349;
    font-size: $fontLrg;
}

.stat-title,
.location {
    color: #6B7082;
    font-size: 10px;
}