.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.name {
    color: #2E3349;
    font-size: 18px;
}

.age {
    color: #6B7082;
    font-size: 18px;
}

.location {
    font-size: 14px;
}

.stat {
    color: #2E3349;
    font-size: 18px;
}

.stat-title,
.location {
    color: #6B7082;
    font-size: 10px;
}